# Frontend
VITE_DEFAULT_CHAIN=baseSepolia
VITE_BASE_SEPOLIA_CHAIN_ID=84532
VITE_BASE_MAINNET_CHAIN_ID=8453
VITE_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
VITE_BASE_MAINNET_RPC_URL=https://mainnet.base.org
VITE_BASE_SEPOLIA_ESCROW_ADDRESS=0xF109bA06578792D624F45a4E67f8aB4f44693D39
VITE_BASE_MAINNET_ESCROW_ADDRESS=0x602d022B9E9c415F399F77d5be69404F2219dc99
VITE_RELAYER_URL=http://localhost:8787

# Relayer
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_ESCROW_ADDRESS=0xF109bA06578792D624F45a4E67f8aB4f44693D39
BASE_MAINNET_ESCROW_ADDRESS=0x602d022B9E9c415F399F77d5be69404F2219dc99
RELAYER_PRIVATE_KEY=
GENLAYER_NETWORK=studionet
GENLAYER_RPC_URL=https://studio.genlayer.com/api
GENLAYER_EXPLORER_URL=https://explorer-studio.genlayer.com
GENLAYER_RESOLVER_ADDRESS=0x67E3e9426fBb383662e77c203512b089B7a56Cd9
RELAYER_PORT=8787
RELAYER_DATA_FILE=.wagr-relayer-data.json

# Deployment
DEPLOYER_PRIVATE_KEY=
PRIVATE_KEY=do_not_commit_real_value
GENLAYER_ACCOUNT_PRIVATE_KEY=
OWNER_ADDRESS=
WAGR_RESOLVER_ADDRESS=
ETHERSCAN_API_KEY=
